@import "./_bootstrap.scss";
@import "./_slick-slider.scss";
@import "./_variables.scss";
@import "./typography.scss";
@import "./layout.scss";
@import "./components/_index.scss";

// Colour modifiers
@each $item, $color in $colorMap {
  .text-color-#{$item} {
    color: $color;
  }
}
html {
  width: 100%;
  height: 100%;
  //   position: fixed;
  //   overflow: hidden;
}
html,
body {
  color: $text-black;
  background-color: $white;
  font-family: $fontBody;

  @extend %paragraph01;
}
