$fontMain: "Baloo";
$fontBody: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

// Colours

$grey: #b9b9b9;
$grey-dark: #2d2d2d;

$turquoise: #58ffe0;
$pink: #ec2b88;

$colorMap: (
  "grey": #b9b9b9,
  "grey-dark": #2d2d2d,
  "turquoise": #58ffe0,
  "pink": #ec2b88
);
// Gradients
$grad-dark-grey: linear-gradient(#919191, #191919);
