$fontMain: "Pt Sans", sans-serif;
$fontBody: "Source Sans Pro", sans-serif;

// Colours

$grey: #b9b9b9;
$grey-mid: hsl(0, 0%, 47%);
$grey-dark: #2d2d2d;
$grey-darker: #13121b;
$black: black;

$turquoise: #58ffe0;
$pink: #ec2b88;

$colorMap: (
  "grey": $grey,
  "grey-mid": $grey-mid,
  "grey-dark": $grey-dark,
  "grey-darker": $grey-darker,
  "turquoise": $turquoise,
  "pink": $pink,
  "black": $black
);
// Gradients
$grad-dark-grey: linear-gradient(#919191, #191919);
