// Font sizes are from modular scale https://www.modularscale.com/?1&em&1.5

%heading01 {
  font-family: $fontMain;
  font-size: 5.063em;
  text-transform: uppercase;
  font-weight: normal;
}

%heading02 {
  font-family: $fontMain;
  font-weight: bold;
  font-size: 2.25em;
}

%heading03 {
  font-family: $fontMain;
  font-weight: normal;
  font-size: 1.5em;
}
