.content {
  background: $black;
  padding-bottom: 80px;
  height: 100%;
  min-height: 800px;
  width: 100%;
  margin-bottom: 130px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 11;
}
