%heading00 {
  font-family: "Source Code Pro";
  font-size: 20px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 700;

  @include media-breakpoint-up(sm) {
    font-size: 30px;
  }
}

%heading01 {
  font-family: $fontMain;
  font-size: 5.063em;
  text-transform: uppercase;
  font-weight: normal;
}

%heading02 {
  font-family: $fontMain;
  font-weight: bold;
  font-size: 2.25em;
}

%heading03 {
  font-family: $fontMain;
  font-weight: normal;
  font-size: 1.5em;
}

%paragraph01 {
  font-family: $fontMain;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.2;
  font-weight: 400;

  @include media-breakpoint-up(sm) {
    font-size: 14px;
  }
}
%paragraph02 {
  text-transform: uppercase;
  color: $text-black;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.25em;

  @include media-breakpoint-up(sm) {
    font-size: 12px;
  }
}
%paragraph03 {
  font-family: $fontMain;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.15em;
  font-weight: 400;

  @include media-breakpoint-up(sm) {
    font-size: 14px;
  }
}

.heading00 {
  @extend %heading00;
}
.heading01 {
  @extend %heading01;
}
.heading02 {
  @extend %heading02;
}
.heading03 {
  @extend %heading03;
}

.paragraph01 {
  @extend %paragraph01;
}

.paragraph02 {
  @extend %paragraph02;
}

.paragraph03 {
  @extend %paragraph03;
}

.richtext {
  h1 {
    @extend %heading01;
  }
  h2 {
    @extend %heading02;
  }
  h3 {
    @extend %heading03;
  }
  a {
    color: $pink;
  }
}
