.intro {
  @extend %paragraph-intro;
  position: relative;
  text-align: center;
  margin-bottom: $spacer-lg;

  &::after {
    content: "";
    height: 5px;
    width: 20px;
    background-color: $text-black;
    display: block;
    margin: auto;
  }
}
