.client-logo {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin: 10px;
  opacity: 0.6;
  transition: opacity 100ms ease-in;
  max-width: 70px;

  @include media-breakpoint-up(lg) {
    max-width: 100px;
  }

  &:hover {
    transition: opacity 100ms ease-out;
    opacity: 1;
  }
}
