$gutter: $grid-gutter-width;

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

.site-navigation {
  position: absolute;
  height: 230px;
  left: 0;
  margin-top: 20vh;
  right: 0;

  a {
    text-decoration: none;
    display: block;
    overflow: hidden;

    &:hover {
      svg {
        opacity: 1;
        animation: toRightFromLeft 0.3s forwards;
      }
    }

    svg {
      width: 100%;
      height: 50px;
      opacity: 0.5;

      transition: opacity 300ms ease-in;
    }
  }
}
.site-navigation-inner {
  background-color: rgba($grey-dark, 0.8);
  width: 50px;
  margin: auto;
  border-radius: 6px;
  padding: 10px;
}
