$gutter: $grid-gutter-width;

.site-navigation {
  position: absolute;
  left: 0;
  right: 0;

  a {
    text-decoration: none;
    display: block;
    overflow: hidden;
    margin: 0 0 -30px;

    // &::after {
    //   content: "";
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   top: 0;
    //   position: absolute;
    //   background: linear-gradient(
    //     #000 10%,
    //     transparent 20%,
    //     transparent 80%,
    //     #000 90%
    //   );
    // }
  }
}
.site-navigation__text {
  text-transform: uppercase;
  color: $white;
  opacity: 0.25;
  font-family: $fontMain;
  font-size: 60px;
  font-weight: bold;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  clip-path: polygon(0% 10%, 100% 20%, 100% 100%, 0 90%);
  transition: clip-path 200ms ease-in-out, opacity 200ms ease-in;
}

.site-navigation__text--active,
.site-navigation__text:hover {
  clip-path: polygon(0% 0%, 100% 00%, 100% 100%, 0 100%);
  opacity: 0.4;
}

.site-navigation__text--active {
  opacity: 1;
  &:hover {
    opacity: 1;
  }
  & + .site-navigation__text {
    clip-path: polygon(0% 10%, 100% 20%, 100% 80%, 0 70%);

    &:hover {
      clip-path: polygon(0% 0%, 100% 00%, 100% 100%, 0 100%);
      opacity: 0.4;
    }
  }
}
.site-navigation-inner {
  //   background-color: rgba($grey-dark, 0.8);
  width: 90px;
  margin: auto;
  margin: auto;
  border-radius: 6px;
  padding: 10px;
}
