.work-items__slider {
  position: absolute;
  display: flex;
}

.work-item__wrapper {
  display: inline-block;
}

.work-item {
  position: relative;
  display: block;
  perspective: 120px;
  z-index: 1000;
  transition: transform 650ms $ease1;
  transform: translate3d(0, 300px, 0);

  .animate-in & {
    transform: translate3d(0, 0, 0);
  }

  img {
    max-width: 100%;
  }
}

.work-item__shadow {
  content: "";
  transform: translate3d(0, 0, -20px);
  position: absolute;
  bottom: -50px;
  left: auto;
  width: 100%;
  height: 100%;
  right: -50px;
  background-color: #f0f0f0;
  z-index: 1000;
  display: none;
}

.work-item__image-wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
  position: relative;
  z-index: 1000;
}

.work-item__image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: opacity 250ms ease-in;
  background-color: $green;

  .work-item:hover & {
    opacity: 1;
  }
}

.work-item__info {
  width: 100%;
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.work-item__title {
  @extend %heading02;
  z-index: 100;
  display: inline-block;
  color: $white;
  margin-bottom: 10px;
}
