.work-items {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 490px;

  padding-top: 60px;
}
.work-items__slider {
  position: absolute;
  display: flex;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
.work-item__wrapper {
  display: inline-block;
}
.work-item {
  position: relative;
  margin: 0 100px;

  perspective: 120px;
  max-width: 500px;
  img {
    max-width: 100%;
  }
}
.work-item__image-wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 400px;
  background-color: #333;
  border-radius: 5px;
}
.work-item__image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: opacity 250ms ease-in;

  &:hover {
    opacity: 1;
  }
}

.work-item__mouse-position {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  padding: 10;
}

.work-item__info {
  background-color: $black;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.work-item__title {
  z-index: 100;
  display: inline-block;
  padding: 10px;
  color: $white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.work-item__center-dot {
  position: fixed;
  border: solid 5px red;
}

.helper {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
