.worklist {
  //   width: 100%;
  padding-top: 100px;
}
.worklist-item {
  margin-bottom: 50px;
  height: 400px;
  @include make-col(11);
}

.worklist_6,
.worklist_0 {
  @include media-breakpoint-up(md) {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
    @include make-col(4);
    @include make-col-offset(1);
  }
}
.worklist_7,
.worklist_1 {
  @include media-breakpoint-up(md) {
    margin-top: 0;
    margin-bottom: 50px;
    @include make-col(5);
    @include make-col-offset(1);
  }
}
.worklist_8,
.worklist_2 {
  @include media-breakpoint-up(md) {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 470px;
    @include make-col(5);
    @include make-col-offset(1);
  }
}
.worklist_9,
.worklist_3 {
  @include media-breakpoint-up(md) {
    margin-top: -30px;
    margin-bottom: 50px;
    height: 470px;
    @include make-col(4);
    @include make-col-offset(1);
  }
}
.worklist_10,
.worklist_4 {
  @include media-breakpoint-up(md) {
    margin-top: -50px;
    margin-bottom: 50px;
    height: 350px;
    @include make-col(7);
  }
}
.worklist_11,
.worklist_5 {
  @include media-breakpoint-up(md) {
    margin-top: -150px;
    margin-bottom: 50px;
    height: 350px;
    @include make-col(4);
    @include make-col-offset(1);
  }
}
