.workpage-skills {
  position: relative;
  padding-bottom: $gutter;
  > .row {
    height: 100px;
  }
}
.workpage-skills__color-block {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: grey;
  opacity: 0.1;
  width: 70%;
  height: 80%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
