.work-items {
  // margin-left: 400px;
}
.work-item {
  padding: 10px;
  position: relative;
  perspective: 300px;
  max-width: 500px;
  img {
    max-width: 100%;
  }
}
.work-item__image-wrapper {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.work-item__mouse-position {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  padding: 10;
}
.work-item__title {
  transform: rotateX(0deg) rotateY(0deg) translate3d(0px, -30px, 30px);
  z-index: 100;
}

.work-item__center-dot {
  position: absolute;
  border: solid 5px red;
}
